@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    
}
<script type="text/javascript" src="~/js/jquery.min.js"></script>
<script type="text/javascript" src="~/js/bootstrap.min.js"></script>

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Basic Page Needs
       ================================================== -->
    <meta charset="utf-8">
    <link rel="icon" href="~/images/favicon.png">
    <title>online</title>
    <!-- Mobile Specific Metas
       ================================================== -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!-- CSS
       ================================================== -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- FontAwesome -->
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/jquery-ui.css">
	<link rel="stylesheet" href="css/style.css">
	<link href="~/css/style.css" rel="stylesheet" />
	<link href="~/css/bootstrap.min.css" rel="stylesheet" />

</head>
<body>
    <div class="login tab-box">
        <div class="container-fluid">
            <div class="row">

                <div class="col-lg-5 col-md-12 col-pad-0 bg-color p-32">
                    <div class="login-inner-form">
                        <div class="details d-flex align-content-between flex-column">

                            <div class="logo mb-auto">
                                <a href="/">
                                    <img src="~/images/login_logo.png" />
                                </a>
                            </div>
                            <div class="logo-area ">
                                <div class="login-header">
                                    <h1>Forgot your password?</h1>
                                    <p>"Looks like you've misplaced your password. Don't worry, it happens to the best of us. Let's get you back in the game, shall we?"</p>
                                </div>


                                <div class="form-group">
                                    
                                    <label>Email address</label>                              
                                    <input type="email" name="name" id="username" class=" form-control input-text">
                                </div>


                                <div class="form-group">
                                  @* <input type="hidden" id="emailid" value="@item.Email" />*@
                                    <button id="login" type="submit" class="btn-md  btn-theme btn-block" onclick="sendemailforgotpassword()">Reset my passowrd</button>
                                    
                                </div>

                                <!--  <div id="ErrorMessageDiv" class="alert alert-danger display-hide" style="display: none;">
                                     <span id="msgClose" class="MessageClose"></span>
                                     <span id="ErrorMessageBox">
                                         Enter your Mobile Number and password.
                                     </span>
                                 </div> -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 col-md-12 col-pad-0 none-992 bg-img">

                    <div class="forgot-right-area">
                        <div class="content-login forget-login content-ft">
                            <h5>Did you know?</h5>
                            <p>
                                The most common password people forget is "123456". In fact, it's so commonly used and forgotten that it's estimated to account for around 17% of all forgotten passwords. So, if you're using "123456" as your password, it might be time to come up with something a little more memorable (and not too easy to guess!).
                            </p>
                        </div>
						<img src="~/images/forget-img.png" />
                    </div>

                </div>
            </div>
        </div>
    </div>


    <!-- @*=======item added successfully=====*@ -->
    <div class="modal fade modal-small-bx" id="passwordresetmsg" tabindex="-1" aria-labelledby="LeavePastLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <div class="past-leave-box">
                        <h5>Password Reset</h5>
                        <p>You have sent a password reset to {user email address}</p>

                    </div>
                    <div class="text-center">
                    </div>
                    <div class="text-center">
                        <button type="button" class="btn btn-default btn-block" data-dismiss="modal">
                            <span aria-hidden="true">Thank You</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- @*=======item added successfully=====*@ -->
    <!-- @*=======item error message  successfully=====*@ -->
    <div class="modal fade modal-small-bx" id="erroritemmsg" tabindex="-1" aria-labelledby="LeavePastLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <div class="past-leave-box">

                        <p id="errmsg2"></p>
                    </div>
                    <div class="text-center">
                        <button type="button" class="btn btn-default btn-block" data-dismiss="modal">
                            <span aria-hidden="true">Close</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- @*=======item error message  successfully=====*@ -->
    <!-- @*=======New passcode confirmation=======*@ -->
    <div class="modal fade modal-sm-bx" id="NewPasscodeConfirmation" tabindex="-1" aria-labelledby="UnarchiveLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm modal-dialog-centered ">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">confirmation OTP</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body  text-center p-3">
                    <div class="past-leave-box">
                        <p>Please insert your new five digit OTP below</p>
                    </div>

                    <form class="digit-group">
                        <input type="password" id="txtDigit1" name="digit-1" data-next="digit-2" maxlength="1" onkeyup="onSelectNext('txtDigit2')" style="font-family: Raleway;text-align: center;">
                        <input type="password" id="txtDigit2" name="digit-2" data-next="digit-3" data-previous="digit-1" maxlength="1" onkeyup="onSelectNext('txtDigit3')" style="font-family: Raleway;text-align: center;">
                        <input type="password" id="txtDigit3" name="digit-3" data-next="digit-4" data-previous="digit-2" maxlength="1" onkeyup="onSelectNext('txtDigit4')" style="font-family: Raleway;text-align: center;">
                        <input type="password" id="txtDigit4" name="digit-4" data-next="digit-5" data-previous="digit-3" maxlength="1" onkeyup="onSelectNext('txtDigit5')" style="font-family: Raleway;text-align: center;">
                        <input type="password" id="txtDigit5" name="digit-5" data-next="digit-6" data-previous="digit-4" maxlength="1" style="font-family: Raleway;text-align: center;">
                    </form>

                    <button type="button" class="btn" style="border-radius: 20px;"  onclick="withdrawval4btn()">Proceed</button>

                </div>

            </div>
        </div>
        <input type="hidden" value="" id="customerid"/>
    </div>
    <!-- @*====END=====*@ -->
    <!-- Javascript Files
       ================================================== -->
	
    <!-- initialize jQuery Library -->
    <!-- <script type="text/javascript" src="js/jquery.js"></script> -->
    <!-- Bootstrap jQuery -->

    <!-- Template custom -->
    <!-- <script type="text/javascript" src="js/custom.js"></script> -->
    <script src="js/jquery-ui.js" type="text/javascript"></script>
    <!-- ==== security popup==== -->
    

    <script>
        $(document).ready(function () {
           
            $('#security').on('click', function () {
                $('.security-popup').addClass('visible');
                $('body').addClass('overl');
            });
            $('#request-payment').on('click', function () {
                $('.security-popup').addClass('visible');
                $('body').addClass('overl');
            });
            $('.overlay').click(function () {
                $('body').removeClass('overl');
                $('.security-popup').removeClass('visible');
            });
        });
    </script>
    @*<script>
        $("#datepicker").datepicker({
            dayNamesMin: ['SUN', 'MON', 'TUE', 'WED', 'THU', 'FRI', 'SAT'],
            showOtherMonths: true,
        });

        $("#datepickerto").datepicker({
            dayNamesMin: ['SUN', 'MON', 'TUE', 'WED', 'THU', 'FRI', 'SAT'],
            showOtherMonths: true,
        });

    </script>*@

</body>
</html>




 <script>

//-----forgot password -----//

    function sendemailforgotpassword() {
       
        var Email = $("#username").val();
          
     
        var Obj =
        {
            Email: Email


        }
        var Aurl = "/Login/ForgotPassword";
        $.ajax({

            type: "Post",
            url: Aurl,
            data: Obj,
            dataType: "json",
            success: function (Result) {
                console.log(Result);
                var status = Result.success;
               var _customerId = Result.customerstatus;
               
                 $("#customerid").val(_customerId);
                

               
                if (status == true) {
                    alert('hi');
                    $('#NewPasscodeConfirmation').modal('show');
                    $('#NewPasscodeConfirmation').addClass('show');


                }
                else {

                    alert('fail');
                    $('#erroritemmsg').modal('show');
                    $("#errmsg2").html("OOPS! Something Went Wrong.");
                }
            },
            error: function (request, error) {
               $('#erroritemmsg').modal('show');
               $("#errmsg2").html("OOPS! Something Went Wrong.");
            }
        });

    }

    //-----forgot password -----//


    //-----Verified OTP-----//  
        function onSelectNext(event)
        {

            var input = document.getElementById(event);
            input.focus();
            input.select();
        }


    function withdrawval4btn() {


        
       
        var PasswordActivationCode = $("#txtDigit1").val() + $("#txtDigit2").val() + $("#txtDigit3").val() + $("#txtDigit4").val() + $("#txtDigit5").val();
        alert(PasswordActivationCode);
        var CustomerId = $("#customerid").val();
        var formData = new FormData();
        formData.append("PasswordActivationCode", PasswordActivationCode);
        formData.append("CustomerId", CustomerId);
        //formData.append("IsVerified",1)
      


  
            var Aurl = "/Login/VerifyOTPCode";
       $.ajax({
            type: "Post",
            url: Aurl,
            cache: false,
            contentType: false,
            processData: false,
            data: formData,
            dataType: "json",
            success: function (Result) 
            {


                    
                if (Result.success == true) {
                    alert('hi');
                    $("#NewPasscodeConfirmation").modal("hide");
                    $("#txtDigit1").val('');
                    $("#txtDigit2").val('');
                    $("#txtDigit3").val('');
                    $("#txtDigit4").val('');
                    $("#txtDigit5").val('');
                    alert('hts');
                    window.location.href = '/Login/ResetPassword';
                }
                else
                {
                    $('#erroritem').modal('show');

                     
                    $("#errmsg1").html("OOPS! Something Went Wrong.");

                }
            },
            error: function (request, error) 
            {

                $('#erroritem').modal('show');
                $("#errmsg1").html("OOPS! Something Went Wrong.");

            }
        });
    }

 //-----Verified OTP-----//






</script>