
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    
}
<script type="text/javascript" src="~/js/jquery.min.js"></script>
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Basic Page Needs
       ================================================== -->
    <meta charset="utf-8">
    <link rel="icon" href="~/images/favicon.png">
    <title>online</title>
    <!-- Mobile Specific Metas
       ================================================== -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!-- CSS
       ================================================== -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- FontAwesome -->
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/jquery-ui.css">
    <link rel="stylesheet" href="css/style.css">
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="login tab-box">
        <div class="container-fluid">
            <div class="row">

                <div class="col-lg-6 col-md-12 col-pad-0 bg-color p-32">
                    <div class="login-inner-form">
                        <div class="details d-flex align-content-between flex-column">

                            <div class="logo mb-auto">
                                <a href="/">
                                    <img src="~/img/login-logo.jpg" />
                                </a>
                            </div>
                            <div class="logo-area ">
                                <div class="login-header">
                                    <h1>Forgot your password?</h1>
                                    <p>"Looks like you've misplaced your password. Don't worry, it happens to the best of us. Let's get you back in the game, shall we?"</p>
                                </div>


                                <div class="form-group">
                                    <label>New password</label>
                                    <input type="text" name="name" id="username" class=" form-control input-text">
                                </div>

                                <div class="form-group">
                                <label>Confirm new password</label>
                                    <input type="text" name="name" id="confirmemailid" class=" form-control input-text">
                                </div>

                                <div class="form-group">
                                    @*<input type="hidden" id="emailid" value="@item.Email" />*@
                                    <button id="login" type="submit" class="btn-md  btn-theme btn-block" onclick="sendemailforgotpassword()">Reset my passowrd</button>
                                </div>

                                <!--  <div id="ErrorMessageDiv" class="alert alert-danger display-hide" style="display: none;">
                                     <span id="msgClose" class="MessageClose"></span>
                                     <span id="ErrorMessageBox">
                                         Enter your Mobile Number and password.
                                     </span>
                                 </div> -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-pad-0 none-992 bg-img">
                    <div class="login-right-area">
                        <div class="content-login content-ft">
                            <h5>Did you know?</h5>
                            <p>
                                The most common password people forget is "123456". In fact, it's so commonly used and forgotten that it's estimated to account for around 17% of all forgotten passwords. So, if you're using "123456" as your password, it might be time to come up with something a little more memorable (and not too easy to guess!).
                            </p>
                        </div>
                        <img src="~/images/forget-img.png" />
                    </div>

                </div>
            </div>
        </div>
    </div>


    <div id="ErrorMessageDiv" class="alert alert-danger display-hide">
        <span id="msgClose" class="MessageClose"></span>
        <span id="ErrorMessageBox">
            Enter password.
        </span>
    </div>


    <!-- @*=======item added successfully=====*@ -->
    <div class="modal fade modal-small-bx" id="passwordresetmsg" tabindex="-1" aria-labelledby="LeavePastLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <div class="past-leave-box">
                        <h5>Password Reset</h5>
                        <p>You have sent a password reset to {user email address}</p>

                    </div>
                    <div class="text-center">
                    </div>
                    <div class="text-center">
                        <button type="button" class="btn btn-default btn-block" data-dismiss="modal">
                            <span aria-hidden="true">Thank You</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- @*=======item added successfully=====*@ -->
    <!-- @*=======item error message  successfully=====*@ -->
    <div class="modal fade modal-small-bx" id="erroritemmsg" tabindex="-1" aria-labelledby="LeavePastLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <div class="past-leave-box">

                        <p id="errmsg2"></p>
                    </div>
                    <div class="text-center">
                        <button type="button" class="btn btn-default btn-block" data-dismiss="modal">
                            <span aria-hidden="true">Close</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- @*=======item error message  successfully=====*@ -->


  

    <!-- Javascript Files
       ================================================== -->
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <!-- initialize jQuery Library -->
    <!-- <script type="text/javascript" src="js/jquery.js"></script> -->
    <!-- Bootstrap jQuery -->
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <!-- Template custom -->
    <!-- <script type="text/javascript" src="js/custom.js"></script> -->
    <script src="js/jquery-ui.js" type="text/javascript"></script>
    <!-- ==== security popup==== -->
    <script>
        $(document).ready(function () {
            $('#security').on('click', function () {
                $('.security-popup').addClass('visible');
                $('body').addClass('overl');
            });
            $('#request-payment').on('click', function () {
                $('.security-popup').addClass('visible');
                $('body').addClass('overl');
            });
            $('.overlay').click(function () {
                $('body').removeClass('overl');
                $('.security-popup').removeClass('visible');
            });
        });
    </script>
    @*<script>
        $("#datepicker").datepicker({
            dayNamesMin: ['SUN', 'MON', 'TUE', 'WED', 'THU', 'FRI', 'SAT'],
            showOtherMonths: true,
        });

        $("#datepickerto").datepicker({
            dayNamesMin: ['SUN', 'MON', 'TUE', 'WED', 'THU', 'FRI', 'SAT'],
            showOtherMonths: true,
        });

    </script>*@
</body>
</html>

<script>
    $('#ErrorMessageDiv').hide()
    $('#btnResetpwd').click(function () {
        $('#ErrorMessageDiv').removeClass("display")
        $('#ErrorMessageDiv').addClass("display-hide")
        $('.loading').css('display', 'block');
        $(this).prop('disabled', true);
        $('.error').remove();
        var haserror = false;
        var url = '/Login/ChangePassword'
        var Passwordval = $('#Newpwd').val()
        var Emailval = $('#Requestoremail').text()
        $('#ErrorMessageDiv').show()
        $('#ErrorMessageDiv').removeClass("alert-success");
        $('#ErrorMessageDiv').addClass("alert-danger");
        if (haserror == false && Passwordval == "") {
            $('#ErrorMessageDiv').show()
            $('#ErrorMessageDiv').removeClass("display-hide")
            $('#ErrorMessageDiv').addClass("display")
            $('#ErrorMessageBox').html('Please enter Your new password')
            /// $('.loading').css('display', 'none');
            $('#btnResetpwd').prop('disabled', false);
            haserror = true;
        }
        else if (haserror == false && $('#reenterpwd').val() == "") {
            $('#ErrorMessageDiv').removeClass("display-hide")
            $('#ErrorMessageDiv').addClass("display")
            $('#ErrorMessageBox').html('Please enter Confirm password')
            $('#ErrorMessageDiv').show()
            ///$('.loading').css('display', 'none');
            $('#btnResetpwd').prop('disabled', false);
            haserror = true;
        }
        else if (haserror == false && $('#reenterpwd').val() != Passwordval) {
            $('#ErrorMessageDiv').removeClass("display-hide")
            $('#ErrorMessageDiv').addClass("display")
            $('#ErrorMessageBox').html('Please enter correct confirm password')
            $('#ErrorMessageDiv').show()
            //$('.loading').css('display', 'none');
            $('#btnResetpwd').prop('disabled', false);
            haserror = true;
        }
        else if (haserror == false) {
            $.post(url, { Email: Emailval, Password: Passwordval }, function (data) {
                if (data.Result == "Success") {

                    window.location.href = '/Logins/Login';


                    //$('#ErrorMessageDiv').removeClass("display-hide").removeClass("alert-danger");
                    //$('#ErrorMessageDiv').addClass("display").addClass("alert-success");
                    //$('#ErrorMessageBox').html(data.Message);
                    //$('#ErrorMessageDiv').show()
                    //$('.ResetForm-Element').remove();
                    //$('#btn-home').removeClass("display-hide")
                }
                else if (data.Result == "Failure") {
                    $('#ErrorMessageDiv').removeClass("display-hide").removeClass("alert-success");
                    $('#ErrorMessageDiv').addClass("display").addClass("alert-danger");
                    $('#ErrorMessageBox').html(data.Message);
                    $('#ErrorMessageDiv').show()
                }
             
                $('#Newpwd').val('')
                $('#reenterpwd').val('')
                $('#btnResetpwd').prop('disabled', false);
                //$('.loading').css('display', 'none');
            })
        }
    })
    $('#msgClose').click(function () {
        $('#ErrordivForget').removeClass("display");
        $('#ErrordivForget').addClass("display-hide");
        $('#ErrorMessageDiv').show();
    });
</script>
