@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
<link href="~/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/css/style.css" rel="stylesheet" />
<style>
    .center-popup {
        height: 100vh;
        overflow: hidden;
    }
    .new-message.reset-password-area {
   background: #ffffff;
    border-radius: 15px;
    height: 300px;
    padding: 26px;
    padding-top: 33px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

    .h-100vh{
        height:100vh;
    }
</style>

  <div class="center-popup">
      <div class="row justify-content-center align-items-center h-100vh">
          <div class="col-lg-6">
            <div class="new-message reset-password-area">


                <div class="col-md-12">

                    <div class="form-group ">
                        <label>New password</label>

                        <input type="text" class="form-control " id="txtpassword">

                    </div>
                    <div class="form-group ">
                        <label>Confirm new password</label>

                        <input type="text" class="form-control " id="txtconfirmpassword">

                    </div>


                </div>

                <div class="col-md-12 text-right ">

                    <button type="button" class="btn btn-lumo-green" onclick="passwordresetmsg()">Update</button>
                </div>


            </div>
          </div>
      </div>
  </div>

<!-- @*=======item error message  successfully=====*@ -->
<div class="modal fade modal-small-bx" id="errormsgitem" tabindex="-1" aria-labelledby="LeavePastLabel" aria-hidden="true">
	<div class="modal-dialog modal-sm modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-body text-center">
				<div class="past-leave-box">

					<p id="errmsgtxt"></p>
				</div>
				<div class="text-center">
					<button type="button" class="btn btn-default btn-block" data-dismiss="modal">
						<span aria-hidden="true">Close</span>
					</button>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- @*=======item error message  successfully=====*@ -->

<div class="modal fade modal-small-bx" id="ItemUpdatedMsg" tabindex="-1" aria-labelledby="UnarchiveLabel" aria-hidden="true">
	<div class="modal-dialog modal-sm modal-dialog-centered">
		<div class="modal-content">

			<div class="modal-body text-center">
				<div class="past-leave-box">
					<h5>You’re community is officially safer!</h5>
					<p>This section has been updated successfully.</p>
				</div>
				<div class="text-center">
					<button type="button" class="btn btn-default" onclick="closemethod()">Close</button>


				</div>

			</div>

		</div>
	</div>
</div>
<!-- @*========END======*@ -->
<script>

	function passwordresetmsg() {
	

		var newPassword = $('#txtpassword').val();
		var confirmnewpassword = $('#txtconfirmpassword').val();
		var formdata = new FormData();
		formdata.append('newpassword', newpassword);
		formdata.append('confirmPassword', confirmnewpassword)


		var Aurl = "/Safety/changePassword";
			$.ajax({
			type: "POST",
			url: Aurl,
			data: formdata,
			contentType: false,
			processData: false,
			dataType: "json",
			success: function (Result) {


				if (Result.success == true) 
				{

					
					$('#ItemUpdatedMsg').modal('show');					

				}
			},
			error: function (request, error) {
				$("#errormsgitem").modal("show");
				$("#errmsgtxt").text("Oops! something went wrong")
			}
		});
	}
	function closemethod()
	{
		$("#ItemUpdatedMsg").modal('hide');
		
	}

    </script>