@{
    Layout = "_Layout";
}

<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Join Exeeder Xe Community</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico in the root directory -->
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.png">

    <!-- CSS here -->
     <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/animate.css">
    <link rel="stylesheet" href="assets/css/custom-animation.css">
    <link rel="stylesheet" href="assets/css/slick.css">
    <link rel="stylesheet" href="assets/css/nice-select.css">
    <link rel="stylesheet" href="assets/css/flaticon.css">
    <link rel="stylesheet" href="assets/css/swiper-bundle.css">
    <link rel="stylesheet" href="assets/css/meanmenu.css">
    <link rel="stylesheet" href="assets/css/font-awesome-pro.css">
    <link rel="stylesheet" href="assets/css/magnific-popup.css">
    <link rel="stylesheet" href="assets/css/spacing.css">
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>

    <!-- preloader -->
    <div id="preloader">
        <div class="preloader">
            <span></span>
            <span></span>
        </div>
    </div>
    <!-- preloader end  -->
    <!-- back-to-top-start  -->
    <button class="scroll-top scroll-to-target" data-target="html">
        <i class="fas fa-chevron-up"></i>
    </button>
    <!-- back-to-top-end  -->

    <header class="tp-header-height">
        <!-- tp-header-area-start -->
        <div id="header-sticky"
             class="header-bottom__area header__space header-sticky-bg-2 header-bottom__transparent z-index-5">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-4 col-6">
                        <div class="header-bottom__logo">
                            <a href="#">
                                <img src="images/logo/logo-black.png" alt="" style="width: 78%;">
                            </a>
                        </div>
                    </div>
                    <div class="col-xxl-8 col-xl-8 col-lg-8 d-none d-lg-block">
                        <div class="header-bottom__main-menu header-bottom__main-menu-3 text-right m-auto">
                            <nav id="mobile-menu">
                                <ul>
                                   

                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-8 col-6">
                        <div class="header-bottom__right d-flex align-items-center justify-content-end">
                            <div class="header-bottom__btn d-flex align-items-center">
                                <a class="tp-btn-blue-sm d-md-inline-block tp-btn-hover alt-color-black" href="~/Join">
                                    <span>Join Community</span>
                                    <b></b>
                                </a>
                                <a class="header-bottom__bar tp-menu-bar d-lg-none" href="javascript:void(0)">
                                    <i class="fa fa-bars"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- tp-header-area-end -->
    </header>

    <!-- tp-offcanvus-area-start -->
    <div class="tpoffcanvas-area">
        <div class="tpoffcanvas">
            <div class="tpoffcanvas__close-btn">
                <button class="close-btn"><i class="fal fa-times"></i></button>
            </div>
            <div class="tpoffcanvas__logo text-center">
                <a href="index.html">
                    <img src="images/logo/logo-white.png" alt="">
                </a>
            </div>
            <div class="mobile-menu"></div>
            <div class="tpoffcanvas__instagram text-center">
                <div class="tpoffcanvas__instagram-title">
                    <h4>instagram</h4>
                </div>
                <a href="#"><img src="assets/img/project/project-inner-4.jpg" alt=""></a>
                <a href="#"><img src="assets/img/project/project-inner-5.jpg" alt=""></a>
                <a href="#"><img src="assets/img/project/project-inner-6.jpg" alt=""></a>
                <a href="#"><img src="assets/img/project/project-inner-7.jpg" alt=""></a>
            </div>
            <div class="tpoffcanvas__info text-center">
                <h4 class="offcanva-title">we are here</h4>
                <a href="https://www.google.com/maps/@@23.506657,90.3443647,7z" target="_blank">
                    27 Division St, New York, <br>
                    NY 10002, USA
                </a>
            </div>
            <div class="tpoffcanvas__social">
                <div class="social-icon text-center">
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-facebook-square"></i></a>
                    <a href="#"><i class="fab fa-dribbble"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="body-overlay"></div>
    <!-- tp-offcanvus-area-end -->

    <div id="smooth-wrapper">
        <div id="smooth-content">

            <main class="fix">

                <!-- tp-slider-area-start -->
                <div class="tp-hero-area tp-hero-pt pt-170 pb-70 p-relative mainbanner">

                    <div class="container">
                        <div class="row justify-content-center z-index-3">
                            <div class="col-xl-12">
                                <div class="tp-hero-title-box text-center">
                                    <a class="wplightbox popup-youtube" href="~/images/banner/video.mp4"
                                       target="_blank">
                                        <div class="lightboxContainer0">
                                            <img src="images/banner/video.gif" alt="">
                                        </div>
                                    </a>
                                    @* <a class="popup-youtube" href="~/images/banner/video.mp4">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor"
                                             class="bi bi-play-circle" viewBox="0 0 16 16" style="color: white;
                                 margin-bottom: 20px;">
                                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                                            <path d="M6.271 5.055a.5.5 0 0 1 .52.038l3.5 2.5a.5.5
                                    0 0 1 0 .814l-3.5 2.5A.5.5 0 0 1 6 10.5v-5a.5.5 0 0 1 .271-.445" />
                                        </svg>
                                    </a> *@
                                    <h2 class="tp-hero-title-3 hero-text-anim pb-5">
                                        Take the leap and Join the Movement!
                                    </h2>
                                    <a href="~/Join" class="tp-btn-blue-sm d-md-inline-block tp-btn-hover alt-color-black"
                                       style="background: #8ebc7b;">
                                        <span>Join the Community($149 /year) </span>
                                        <b style="top: 45.6984px; left: 90px;"></b>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tp-service-area pb-90 z-index pt-70">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-12">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-6 wow tpfadeLeft" data-wow-duration=".9s" data-wow-delay=".5s"
                                 style="visibility: visible; animation-duration: 0.9s; animation-delay: 0.5s; animation-name: tpfadeLeft;">
                                <div class="tp-service-section-wrapper mb-40 m-60 d-flex justify-content-between align-items-end">
                                    <h3 class="tp-section-title-3 wow tpfadeLeft" data-wow-duration=".9s" data-wow-delay=".3s">
                                        Let's Decarbonize<br> the Future together
                                    </h3>

                                </div>
                                <div class="tp-service-3-item mb-30 p-relative z-index"
                                     style="/* background:linear-gradient(142.23deg, #fbfbfb 7.63%, #b7f161 99.01%); */">
                                    <img src="~/images/hero/generation.jpg" class="w-100 seth">

                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 wow tpfadeRight" data-wow-duration=".9s"
                                 data-wow-delay=".6s"
                                 style="visibility: visible;animation-duration: 0.9s;animation-delay: 0.6s;animation-name: tpfadeRight;padding-left: 5%;">
                                <div class="tp-service-sm-item mb-30 d-flex flex-column justify-content-between">
                                    <img src="images/hero/18.png" class="seth w-100">
                                </div>
                                <b>Gen-Xe isn't an age group; it's a mindset.</b>
                                <p>
                                    Comprising environmentally conscious individuals who advocate for sustainable living, Gen-Xe
                                    represents the collective voice of those dedicated to protecting our planet. Together, we'll
                                    develop habits and standards that promote greater sustainability across economics sectors.
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- tp-service-area-end -->
                <div class="tp-counter-area tp-counter-space p-relative pb-140">
                    <div class="tp-counter-shape-2">
                        <img src="images/counter/counter-shape-2.png" alt="">
                    </div>
                    <div class="tp-counter-shape-3">
                        <img src="images/counter/counter-shape-1.png" alt="">
                    </div>
                    <div class="tp-counter-shape-4 d-none d-sm-block">
                        <img src="images/counter/counter-shape-4.png" alt="">
                    </div>
                    <div class="container">
                        <div class="tp-counter-wrapper p-relative">
                            <div class="row gx-0">
                                <div class="col-xl-4 col-lg-4 col-md-4">
                                    <div class="tp-counter-wrap d-flex justify-content-center">
                                        <div class="tp-counter-item">
                                            <h4>
                                                <span data-purecounter-duration="1" data-purecounter-end="4"
                                                      class="purecounter">4</span>
                                            </h4>
                                            <p>Exeeder<br> Divisions to track</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-4">
                                    <div class="tp-counter-wrap d-flex justify-content-center">
                                        <div class="tp-counter-item">
                                            <h4>
                                                <span data-purecounter-duration="1" data-purecounter-end="300"
                                                      class="purecounter">300</span>+
                                            </h4>
                                            <p>Members and still<br> growing </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-4">
                                    <div class="tp-counter-wrap d-flex justify-content-center">
                                        <div class="tp-counter-item">
                                            <h4>
                                                <span data-purecounter-duration="1" data-purecounter-end="90"
                                                      class="purecounter">90</span><em>k</em>+
                                            </h4>
                                            <p>Social followers</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- tp-payment-area-start -->
                <div id="payment-method" class="tp-payment__area pt-70 pb-10" style="    background: whitesmoke;">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-xl-7">
                                <div class="tp-payment__title-box text-center mb-55">
                                    <h3 class="tp-section-title-lg">Become an Exeeder Insider</h3>
                                    <p>Join the community & elevate the impact </p>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-xl-12">
                                <div class="row">
                                    <div class="col-md-6 mb-30">
                                        <div class="tp-payment__item tp-payment__bg-color-2 p-relative z-index wow tpfadeLeft"
                                             data-wow-duration=".9s" data-wow-delay=".3s">
                                            <div class="tp-payment__shape-5">
                                                <img src="assets/img/payment/mobile.png" alt="">
                                            </div>
                                            <div class="tp-payment__content w-set">
                                                <h3 class="tp-payment__title">
                                                    Get regular updates on everything happening at Exeeder
                                                </h3>
                                                <p class="">
                                                    Our new digital community is your gateway to information on the growth
                                                    and direction of Exeeder.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-30">
                                        <div class="tp-payment__item tp-payment__bg-color-3 p-relative z-index wow tpfadeRight"
                                             data-wow-duration=".9s" data-wow-delay=".5s">
                                            <div class="tp-payment__shape-11">
                                                <img src="images/hero/02.png" alt="">
                                            </div>
                                            <div class="tp-payment__content">
                                                <h3 class="tp-payment__title">
                                                    Learn how to do business with Exeeder
                                                </h3>
                                                <p>
                                                    Opportunities to partner with Exeeder are exceptional. Information on becoming
                                                    dealers, delivery partners, electric scooter distributors, and more is available
                                                    only to community members.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-12 mb-30">
                                <div class="tp-payment__item p-relative z-index wow tpfadeUp" data-wow-duration=".9s"
                                     data-wow-delay=".7s">
                                    <div class="tp-payment__shape-1">
                                        <img src="assets/img/payment/background.png" alt="">
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="tp-payment__content tp-payment__content-space">
                                                <h3 class="tp-payment__title">How does Exeeder Xe membership benefit you? </h3>
                                                <ul class="ulli">
                                                    <li>Reports of company progress </li>

                                                    <li>Find job listings</li>

                                                    <li>Find Dealership opportunities</li>

                                                    <li>Delivery business information</li>

                                                    <li>Meet global members</li>

                                                    <li>Share carbon reduction strategies</li>

                                                    <li>Private event listings</li>
                                                    <li>More....</li>
                                                </ul>
                                                <a href="~/Join">Join Our Community<i class="fas fa-chevron-right"></i></a>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="tp-payment__shape-2">
                                                <img src="images/hero/image.png" alt="">
                                            </div>
                                            <!-- <div class="tp-payment__shape-3 d-none d-sm-block">
                                               <img src="assets/img/hero/get-paid.png" alt="">
                                            </div> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pattern"><img src="images/banner/border.png" style="transform: rotate(180deg);"></div>
                <div class="tp-card-area tp-card-space pt-105 pb-100">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 wow tpfadeLeft" data-wow-duration=".9s" data-wow-delay=".5s"
                                 style="visibility: visible; animation-duration: 0.9s; animation-delay: 0.5s; animation-name: tpfadeLeft;">
                                <div class="tp-card-thumb-wrapper p-relative">
                                    <div class="tp-card-main-img m-auto text-center">
                                      @*   <a class="popup-youtube" href="~/images/banner/video.mp4">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor"
                                                 class="bi bi-play-circle" viewBox="0 0 16 16" style="color: white;
                                 margin-bottom: 20px;">
                                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                                                <path d="M6.271 5.055a.5.5 0 0 1 .52.038l3.5 2.5a.5.5
                                    0 0 1 0 .814l-3.5 2.5A.5.5 0 0 1 6 10.5v-5a.5.5 0 0 1 .271-.445" />
                                            </svg>
                                        </a> *@
                                        <a class="wplightbox popup-youtube" href="//www.youtube.com/watch?v=CH1PUOKYAQ0"
                                           target="_blank">
                                            <div class="lightboxContainer">
                                                <img src="images/hero/derek.jpg" alt="">
                                            </div>
                                        </a>
                                    </div>
                                    <div class="tp-card-img-1">
                                        <img src="images/card/card-shape-1.png" alt="">
                                    </div>
                                    <div class="tp-card-img-2 d-none d-sm-block">
                                    </div>
                                    <div class="tp-card-img-3 d-none d-sm-block"
                                         data-parallax="{&quot;x&quot;: 50, &quot;smoothness&quot;: 30}"
                                         style="transform:translate3d(21.74px, 0px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1); -webkit-transform:translate3d(21.74px, 0px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1); transform:translate3d(36.069px, 0px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1); -webkit-transform:translate3d(36.069px, 0px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1); ">
                                        <img src="images/card/card-img-2.png" alt="">
                                    </div>
                                    <div class="tp-card-img-4 d-none d-sm-block"
                                         data-parallax="{&quot;x&quot;: -50, &quot;smoothness&quot;: 30}"
                                         style="transform:translate3d(-15.272px, 0px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1); -webkit-transform:translate3d(-15.272px, 0px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1); transform:translate3d(-30.217px, 0px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1); -webkit-transform:translate3d(-30.217px, 0px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1); ">
                                        <img src="images/card/card-img-3.png" alt="">
                                    </div>

                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 wow tpfadeRight" data-wow-duration=".9s" data-wow-delay=".7s"
                                 style="visibility: visible; animation-duration: 0.9s; animation-delay: 0.7s; animation-name: tpfadeRight;">
                                <div class="tp-card-title-box">
                                    <h3 class="tp-section-title-3 pb-15">
                                        Derek W. Bailey<br><span class="founder">Founder </span>
                                    </h3>
                                    <p class="">
                                        Our CEO is a dynamic force, known for his strategic foresight and a track record
                                        in leading companies to success. His visionary approach aims to revolutionize the
                                        transportation industry, positioning Exeeder at the forefront of black entrepreneurship
                                        and global change. Passionate and ready to tackle upcoming challenges, Derek’s leadership
                                        ethos is best captured in his words: "If everyone is thinking alike, then no one's really
                                        thinking." Guided by his innovative spirit, Exeeder is set to redefine sustainable
                                        transportation.
                                    </p>
                                    <a class="tp-btn-blue-lg tp-btn-hover alt-color-black" href="~/Join">
                                        <span>Join Our Community</span>
                                        <b style="top: 39.2091px; left: 3.39996px;"></b>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="discount-area margin-top-120">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-6 position-relative">
                                <div class="discount-left">
                                    <div class="content">
                                        <span class="top-text">Exclusive Pre-Order Opportunity</span>
                                        <p class="text-white mt-10">
                                            Only Exeeder Xe Community members can reserve the carbon crusher scooter! <br>
                                             Simply add $1 to your $149 membership purchase.
                                        </p>
                                        <h1><span class="percent">$150</span></h1>
                                        <a href="~/Join" class="btn">Pre-Order<span>→</span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="discount-right">
                                    <img class="discount-img" src="images/banner/bike.png" alt="discount">
                                    <div class="circle">
                                        <span class="circle1"></span>
                                        <span class="circle2"></span>
                                        <span class="circle3"></span>
                                    </div>
                                    <div class="line">
                                        <img src="images/hero/line1.png" alt="line1" class="line1">
                                        <img src="images/hero/line2.png" alt="line2" class="line2">
                                    </div>
                                    <div class="hotspot">
                                        <div class="hotspot-area" style="z-index: 0;">
                                            <div class="hotspot1 lg-hotspot-button">+</div>
                                            <div class="lg-hotspot-label" style="display: none;">
                                                <p>This is some text that goes in the label. It describes the item.</p>
                                            </div>
                                        </div>
                                        <div class="hotspot-area2" style="z-index: 999;">
                                            <div class="hotspot2 lg-hotspot-button">+</div>
                                            <div class="lg-hotspot-label" style="display: none;">
                                                <p>This is some text2 that goes in the label. It describes the item.</p>
                                            </div>
                                        </div>
                                        <span class="hotspot3"></span>
                                        <span class="hotspot4"></span>
                                        <span class="hotspot5"></span>
                                        <span class="hotspot6"></span>
                                    </div>
                                    <div class="price animated slideRotateFromRight">
                                        <span>Projected Price : $5900</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- tp-card-area-end -->
                <!-- <div class="pattern"><img src="assets/img/banner/border.png" style="transform: rotate(180deg);"></div> -->
                <div class="productdiv">
                    <img src="images/hero/10.jpg">
                    <div class="container">
                        <div class="row">
                            <div class="tp-card-title-box">
                                <p class="">My design seamlessly integrates intelligence with convenience.</p>
                                <p>
                                    Not only do i offer an additional cupholder for enhanced comfort, but I also pioneer safety
                                    with a cutting- edge rearview camera a groundbreaking first in our journey towards samerter,
                                    safer rides.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="productdiv">
                    <img src="images/hero/12.png">
                    <div class="container">
                        <div class="row">
                            <div class="tp-card-title-box">
                                <p class="">
                                    I project a laser light, creating a clear safety
                                    zone to signal motorists the safe
                                    distance to maintain from the rider, yet another pioneering feature.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="productdiv2">
                    <div class="container">
                        <div class="row">
                            <div class="tp-card-title-box">
                                <p class="">
                                    With unparalleled RANGE and thrilling SPEED,
                                    I stand as a genuine alternative to traditional vehicles.
                                    That's precisely why I've earned the
                                    name 'Carbon Crusher' redefining mobility while
                                    crushing carbon footprints.
                                </p>
                            </div>
                            <img src="images/hero/13.png">
                            <strong>85 Mile Range.<br>SPEED up to 60 MPG</strong>
                        </div>
                    </div>
                </div>
                <div class="productdiv3">
                    <div class="container">
                        <div class="row">
                            <div class="tp-card-title-box">
                                <p class="">
                                    I come with advanced climate sensors that continuosly track environmental conditions
                                    wherver riders journey, globally.<br>
                                    This vital data is relayed to a specialized mobile app, aiding scientists and climate
                                    enthusiasts in their research. -

                                </p>
                            </div>
                            <img src="images/hero/14.png">
                            <div class="tp-card-title-box">
                                <p class="">
                                    Additionally, the app calculates your personal carbon <br>
                                    <b>offset score, showcasing your contribution to reducing emissions.</b>
                                    <br><br>
                                    Looking ahead, I'll offer the potential to monetize these carbon credits, turning your
                                    eco-friendly choices into tangible rewards.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="productdiv">
                    <img src="images/hero/15.png">
                    <div class="container">
                        <div class="row">
                            <div class="tp-card-title-box preorderdiv">
                                <h3>Pre-Order <span>Me for <b>extra $1</b></span></h3>
                                <a href="~/Join" class="btn">Pre-Order<span>→</span></a>
                            </div>
                        </div>
                    </div>
                </div>
              

                <div class="tp-browser-details-area pt-50 pb-0 p-relative" id="download" style="
            background: #5c7352;
        ">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-xl-9 col-lg-9 col-7">
                                <div class="tp-browser-section-box justify-content-between align-items-center mb-30">
                                    <h3 class="tp-section-title-3 text-white">
                                        Our Mission and Your Motivation;<br>
                                        Decarbonization Revolution
                                    </h3>
                                    <h5 class="downloadapp"> Once you join, you have to download the Circular X app from <a href="https://play.google.com/store/apps/details?id=com.bizbrolly.circular&hl=en&gl=US" target="_blank">Google Play Store</a> or <a href="https://apps.apple.com/in/app/circular-x/id6464666159" target="_blank">Apple App store</a>.Once installed, please click Register to register yourself in the app. You have to use the same mobile number you have provided here while subscribing and the one time code received in welcome email to join Exeeder Xe community.</h5>
                                </div>
                                <div class="tp-footer__download-box d-flex align-items-center">
                                    <div class="tp-footer__app d-flex">
                                        <a href="https://apps.apple.com/za/app/circular-x/id6464666159" target="_blank"
                                           class="mr-5"><img class="" src="images/footer/dwnld-2.png" alt=""></a>
                                        <a href="https://play.google.com/store/apps/details?id=com.bizbrolly.circular"
                                           target="_blank"><img src="images/footer/dwnld-3.png" alt=""></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-5">
                                <div class="tp-browser-btn text-lg-end text-start">
                                    <img src="images/app.png">
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- tp-sales-area-end -->


 <div class="faq-area pt-50 pb-50 p-relative">
                    <div class="container">
                     <div class="row justify-content-center">
                            <div class="col-xl-7">
                                <div class="tp-payment__title-box text-center mb-55">
                                    <h3 class="tp-section-title-lg">Questions & Rules</h3>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-xl-9 col-lg-9 ">
                                <div class="accordion" id="accordionExample">
                                  <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingOne">
                                      <a class="accordion-button"  data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                       1. How does the deposit work for a pre-order?
                                      </a>
                                    </h2>
                                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                      <div class="accordion-body">
                                        <p>To pre-order the Climate Crusher, one must join our Exeeder 
                                        digital community, which is an annual subscription of $149. 
                                        To turn your subscription, also into a pre-order, $1 is added to the subscription 
                                        order and the purchase becomes a two-fo-one: you get your one-year subscription 
                                        and you are registered with a production slot for a future scooter order. The entire $150 is a 
                                        credit toward any future purchase. Purchase opportunities are offered based on order position, i.e. 
                                        first to purchase is in line.</p>
                                     </div>
                                    </div>
                                  </div>
                                  <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingTwo">
                                      <a class="accordion-button collapsed"  data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                       2. What's the purchase price of the Carbon Crusher?
                                      </a>
                                    </h2>
                                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                      <div class="accordion-body">
                                        <p>We don't know yet! The scooter is still in development, but we have a target retail price $5700</p>
                                       </div>
                                    </div>
                                  </div>
                                  <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingThree">
                                      <a class="accordion-button collapsed"  data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                       3. What's the first production run?
                                      </a>
                                    </h2>
                                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                      <div class="accordion-body">
                                        <p>The first production run will be 7500 units.</p>
                                     </div>
                                    </div>
                                  </div>
                                   <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingfour">
                                      <a class="accordion-button collapsed"  data-bs-toggle="collapse" data-bs-target="#collapsefour" aria-expanded="false" aria-controls="collapsefour">
                                       4. Will you be shipping globally?
                                      </a>
                                    </h2>
                                    <div id="collapsefour" class="accordion-collapse collapse" aria-labelledby="headingfour" data-bs-parent="#accordionExample">
                                      <div class="accordion-body">
                                        <p>Yes! The usefulness of the sensors on the scooter improves as the scooters dispersed around the world.</p>
                                     </div>
                                    </div>
                                  </div>
                                   <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingfive">
                                      <a class="accordion-button collapsed"  data-bs-toggle="collapse" data-bs-target="#collapsefive" aria-expanded="false" aria-controls="collapsefive">
                                       5. When will Carbon Crushers scooters ship?
                                      </a>
                                    </h2>
                                    <div id="collapsefive" class="accordion-collapse collapse" aria-labelledby="headingfive" data-bs-parent="#accordionExample">
                                      <div class="accordion-body">
                                        <p>The Carbon Crusher is scheduled to begin shipping in late 2024 (maybe sooner). The purchasers shipment date is based on their purchase date / order.
                                        Offers to purchase are offered in order of pre-order deposit payments.</p>
                                     </div>
                                    </div>
                                  </div>
                                   <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingsix">
                                      <a class="accordion-button collapsed"  data-bs-toggle="collapse" data-bs-target="#collapsesix" aria-expanded="false" aria-controls="collapsesix">
                                       6. What are the final Xe scooter design specs?
                                      </a>
                                    </h2>
                                    <div id="collapsesix" class="accordion-collapse collapse" aria-labelledby="headingsix" data-bs-parent="#accordionExample">
                                      <div class="accordion-body">
                                        <p>The specifications for the scooter are still developing, but here are the basic spec outlines:</p>
                                           <ul class="list-unstyled">
                                            <li>3 kWh Lithium Battery</li>

                                            <li>3000 W Motor / Controller</li>

                                            <li> Disk Brake Front | Drum Rear</li>

                                            <li>Multiple Sensor Packs</li>

                                            <li>Heavy-duty shock package</li>

                                            <li>Fat tires ( Final size undetermined)</li>

                                            <li>110V Slow Charger</li>

                                            <li>Fast- Charger will be add to scooter (A first)</li>

                                            <li>All spec are subject to change</li>
                                             </ul>
                                     </div>
                                    </div>
                                  </div>
                                  <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingseven">
                                      <a class="accordion-button collapsed"  data-bs-toggle="collapse" data-bs-target="#collapseseven" aria-expanded="false" aria-controls="collapseseven">
                                       7. Who is developing & Building the Xe
                                      </a>
                                    </h2>
                                    <div id="collapseseven" class="accordion-collapse collapse" aria-labelledby="headingseven" data-bs-parent="#accordionExample">
                                      <div class="accordion-body">
                                        <p>We're partnering with RCO Engineering for the design, prototyping and manufacture of the Carbon Crusher. Their reputation in the industry in sterling. 
Learn more a <a href="">RCOeng.com</a></p>
                                     </div>
                                    </div>
                                  </div>
                                   <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingeight">
                                      <a class="accordion-button collapsed"  data-bs-toggle="collapse" data-bs-target="#collapseeight" aria-expanded="false" aria-controls="collapseeight">
                                       8. Retail Sales Locations?
                                      </a>
                                    </h2>
                                    <div id="collapseeight" class="accordion-collapse collapse" aria-labelledby="headingeight" data-bs-parent="#accordionExample">
                                      <div class="accordion-body">
                                        <p>We are using the design and build time to work on distribution and retail locations. Locations 
                                    will be added to this website and the Exeeder website has we progress.</p>
                                     </div>
                                    </div>
                                  </div>
                                    <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingnine">
                                      <a class="accordion-button collapsed"  data-bs-toggle="collapse" data-bs-target="#collapsenine" aria-expanded="false" aria-controls="collapsenine">
                                       9. Are dealerships available?
                                      </a>
                                    </h2>
                                    <div id="collapsenine" class="accordion-collapse collapse" aria-labelledby="headingnine" data-bs-parent="#accordionExample">
                                      <div class="accordion-body">
                                        <p>Scooter dealership opportunities are available to qualified individuals. 
                                       Interested? Send an email to Sales@exeederfleet.com</p>
                                     </div>
                                    </div>
                                  </div>
                                  <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingten">
                                      <a class="accordion-button collapsed"  data-bs-toggle="collapse" data-bs-target="#collapseten" aria-expanded="false" aria-controls="collapseten">
                                      10. Who can I reach out to?
                                      </a>
                                    </h2>
                                    <div id="collapseten" class="accordion-collapse collapse" aria-labelledby="headingten" data-bs-parent="#accordionExample">
                                      <div class="accordion-body">
                                        <p>Still have questions? Email Steven Branch at mrbranch@derekautomotive.com.</p>
                                     </div>
                                    </div>
                                  </div>
                                </div>
                            </div>
                            
                        </div>

                    </div>
                </div>
                <!-- tp-sales-area-end -->

            </main>

            <div class="footer-bottom-content tp-browser-bg-shape">

                <footer>
                    <div class="tp-footer__pl-pr pt-30">
                        <div class="tp-footer__area tp-footer__tp-border-bottom">
                            <div class="container">
                                <div class="row">
                                    <div class="col-xl-6 col-lg-6 col-md-6 pb-20 wow tpfadeUp" data-wow-duration=".9s"
                                         data-wow-delay=".3s"
                                         style="visibility: visible; animation-duration: 0.9s; animation-delay: 0.3s; animation-name: tpfadeUp;">
                                        <div class="tp-footer__widget footer-widget-3 footer-col-3-1">
                                            <div class="tp-footer__logo">
                                                <a href="index.html">
                                                    <img src="images/logo/logo-black.png" alt="" style="width: 144px;">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 pb-20 wow tpfadeUp" data-wow-duration=".9s"
                                         data-wow-delay=".7s"
                                         style="visibility: visible;animation-duration: 0.9s;animation-delay: 0.7s;animation-name: tpfadeUp;text-align: right;">
                                        <a class="tp-btn-blue-lg tp-btn-hover alt-color-black lastfootertbn" href="~/Join">
                                            <span>Join Our Community</span>
                                            <b style="top: 7.90021px; left: 53.4px;"></b>
                                        </a>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- <div class="tp-copyright__area pt-25 pb-40">
                           <div class="container">
                              <div class="row justify-content-center">
                                 <div class="col-xl-4 col-lg-6 col-md-6">
                                    <div class="tp-copyright__text tp-copyright__text-3 text-center">
                                       <span>Copyright<a href="#"> Exeeder Xe Community</a> – 2023</span>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div> -->
                    </div>
                    <!-- tp-footer-area-end -->
                </footer>


            </div>
        </div>
    </div>

    <div class="modal fade" id="getstarted" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="getstartedLabel" aria-hidden="true">
        <div class="modal-dialog  modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="contact-form-area">
                        <div class="container">
                            <div class="row gx-0">
                                <div class="col-xl-6 col-lg-6">
                                    <div class="contact-form-left">
                                        <div class="contact-form-section-box pb-0">
                                            <h5 class="inner-section-subtitle">CONTACT US</h5>
                                            <h4 class="tp-section-title pb-10">
                                                We'd love to <br> hear From
                                                <span>
                                                    <svg width="44" height="44" viewBox="0 0 44 44" fill="none"
                                                         xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                                        <rect width="44" height="44" fill="url(#pattern0)"></rect>
                                                        <defs>
                                                            <pattern id="pattern0" patternContentUnits="objectBoundingBox" width="1"
                                                                     height="1">
                                                                <use xlink:href="#image0_2106_35"
                                                                     transform="translate(-0.425532 -0.170213) scale(0.0212766)"></use>
                                                            </pattern>
                                                            <image id="image0_2106_35" width="83" height="66"
                                                                   xlink:href="images/hero/pay.png">
                                                            </image>
                                                        </defs>
                                                    </svg>
                                                </span>
                                                you.
                                            </h4>
                                            <p>
                                                While we're good with smoke signals,
                                                there <br> are easier ways to get in touch.
                                            </p>
                                        </div>
                                        <div class="contact-form-social-box p-relative mt-50">
                                            <div class="contact-form-social-item">
                                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                                <a href="#"><i class="fab fa-twitter"></i></a>
                                                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                                <a href="#"><i class="fab fa-instagram"></i></a>
                                            </div>
                                            <div class="contact-form-section-img">
                                                <img src="assets/img/contact/contact-icon-sm-4.png" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6">
                                    <div class="contact-form-right-warp">
                                        <div class="postbox__comment-form">
                                            <form action="#" class="box">
                                                <div class="row gx-20">
                                                    <div class="col-12">
                                                        <div class="postbox__comment-input mb-30">
                                                            <input type="text" class="inputText" required="" fdprocessedid="yhktrg">
                                                            <span class="floating-label">Full Name</span>
                                                        </div>
                                                    </div>
                                                    <div class="col-12">
                                                        <div class="postbox__comment-input mb-30">
                                                            <input type="text" class="inputText" required="" fdprocessedid="c5as1h">
                                                            <span class="floating-label">Your Email</span>
                                                        </div>
                                                    </div>
                                                    <div class="col-12">
                                                        <div class="postbox__comment-input mb-35">
                                                            <input type="text" class="inputText" required="" fdprocessedid="6jct3">
                                                            <span class="floating-label">Phone Number</span>
                                                        </div>
                                                    </div>
                                                    <div class="col-xxl-12">
                                                        <div class="postbox__btn-box">
                                                            <button class="submit-btn w-100">Get Payment</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- JS here -->
    <script src="assets/js/jquery.js"></script>
    <script src="assets/js/waypoints.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/slick.min.js"></script>
    <script src="assets/js/magnific-popup.js"></script>
    <script src="assets/js/counterup.js"></script>
    <script src="assets/js/wow.js"></script>
    <script src="assets/js/nice-select.js"></script>
    <script src="assets/js/swiper-bundle.js"></script>
    <script src="assets/js/meanmenu.js"></script>
    <script src="assets/js/tilt.jquery.js"></script>
    <script src="assets/js/isotope-pkgd.js"></script>
    <script src="assets/js/imagesloaded-pkgd.js"></script>
    <script src="assets/js/ajax-form.js"></script>
    <script src="assets/js/gsap.min.js"></script>
    <script src="assets/js/split-text.min.js"></script>
    <script src="assets/js/ScrollSmoother.min.js"></script>
    <script src="assets/js/parallax-scroll.js"></script>
    <script src="assets/js/purecounter.js"></script>
    <script src="assets/js/jarallax.js"></script>
    <script src="assets/js/main.js"></script>
   


</body>

</html>
<script>
    var myModal = document.getElementById('myModal')
    var myInput = document.getElementById('myInput')

    myModal.addEventListener('shown.bs.modal', function () {
        myInput.focus()
    })
</script>
@*<script>
    $(function () {
        $('.popup-youtube, .popup-vimeo').magnificPopup({
            disableOn: 700,
            type: 'iframe',
            mainClass: 'mfp-fade',
            removalDelay: 160,
            preloader: false,
            fixedContentPos: false
        });
    });
</script>*@
@*<script>
    $(document).on('click', 'a[href^="#"]', function (event) {
        event.preventDefault();

        $('html, body').animate({
            scrollTop: $($.attr(this, 'href')).offset().top
        }, 2000);
    });
</script>*@





