    <!-- ===========================
       Start Main body  ============================ -->

    <section class="signup-detail signup-detail3">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="message-box">
                        <div class="profile-done">
                            <img src="~/images/profile.svg" class="mb-4" style="    padding-top: 20rem;">
                        </div>
                        <h4>Great work! You’re a natural :)</h4>
                        <p>Your community basics have been successfully set up! You can now start sharing your community link to allow your members to start connecting to<br> your very own private social network. Be sure to watch our training materials to effectively use the Circular app and add value to your community.</p>
                    </div>
                    <div class="btn-grp">
                    <button class="connect"><a href="@ViewBag.CircularSubscrptionFeatures"><img src="~/images/connect.svg"><b>Connect to our learning centre</b></a></button>
                    <button class="login"><a href="@ViewBag.CommunityPortalURl"><img src="~/images/login.svg"><b>Log into Community Administration Portal</b></a></button>
                    </div>

                </div>
            </div>
        </div>
    </section>

   
   

