@{
    Layout = "";
}



<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Basic Page Needs
       ================================================== -->
    <meta charset="utf-8">
    <title>online</title>
    <!-- Mobile Specific Metas
       ================================================== -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!-- CSS
       ================================================== -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- FontAwesome -->
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/jquery-ui.css">
    <link rel="stylesheet" href="css/style.css">
    <style type="text/css">
        .Payment-area {
            text-align: center;
            width: 100%;
            min-height: 267px;
            background: #fdfdfd;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            padding: 27px 12px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
        }

        .icon img {
            width: 78px;
        }

        .Payment-area h4 {
            font-size: 28px;
            font-weight: 700;
            /* font-family: avnir; */
            margin-top: 9px;
        }

        .bg-pay {
            background-repeat: no-repeat;
            background-size: cover;
        }

        .center-pay-bx {
            justify-content: center;
            align-items: center;
            height: 100vh;
            overflow: hidden;
        }

        .icon svg {
            width: 60px;
            height: 60px;
            fill: #3cbbf7;
        }
    </style>
</head>
<body>
    <div class="">


        <div class="row center-pay-bx bg-pay" style="
    background-image: url(images/bg-pay.jpg)">
            <div class="col-lg-4">
                <div class="Payment-area">
                    <div class="">
                        <div class="icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-patch-check-fill" viewBox="0 0 16 16">
                                <path d="M10.067.87a2.89 2.89 0 0 0-4.134 0l-.622.638-.89-.011a2.89 2.89 0 0 0-2.924 2.924l.01.89-.636.622a2.89 2.89 0 0 0 0 4.134l.637.622-.011.89a2.89 2.89 0 0 0 2.924 2.924l.89-.01.622.636a2.89 2.89 0 0 0 4.134 0l.622-.637.89.011a2.89 2.89 0 0 0 2.924-2.924l-.01-.89.636-.622a2.89 2.89 0 0 0 0-4.134l-.637-.622.011-.89a2.89 2.89 0 0 0-2.924-2.924l-.89.01-.622-.636zm.287 5.984-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7 8.793l2.646-2.647a.5.5 0 0 1 .708.708z" />
                            </svg>
                        </div>
                        <h4>Payment Successful</h4>
                    </div>

                </div>
            </div>
        </div>


    </div>






    <!-- Javascript Files
       ================================================== -->
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <!-- initialize jQuery Library -->
    <!-- <script type="text/javascript" src="js/jquery.js"></script> -->
    <!-- Bootstrap jQuery -->
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <!-- Template custom -->


</body>
</html>